.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .card form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .card form input[type="text"],
  .card form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
  }
  
  .card form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card form button:hover {
    background-color: #0056b3;
  }
  
  